.header {
  margin: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 20px
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #fe8802;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}
